doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='robots' content='noindex, nofollow')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title #{data.server_name} | Forgot Password
        link(href='/.theme/class-website/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
        link(href='/.theme/class-website/css/sb-admin-2.css' rel='stylesheet')
    body.bg-gradient-primary
        .container
            .row.justify-content-center
                .col-xl-10.col-lg-12.col-md-9
                    .card.o-hidden.border-0.shadow-lg.my-5
                        .card-body.p-0
                            .row
                                .col-lg-6.d-none.d-lg-block.bg-password-image
                                .col-lg-6
                                    .p-5
                                        .text-center
                                            h1.h4.text-gray-900.mb-2 Forgot Your Password?
                                            p.mb-4
                                                | #{data.forgot_password_text}
                                        form.user(action='/forgot-password' method='post' enctype='application/x-www-form-urlencoded')
                                            .form-group
                                                input#exampleInputEmail.form-control.form-control-user(type='text' name='sid' placeholder='Enter Student ID')
                                            input.btn.btn-primary.btn-user.btn-block(type='submit' value='Reset Password')
                                        hr
                                        .text-center
                                            a.small(href='/login') Just remembered your password? Login!
            footer.sticky-footer.bg-transparent
                .container.my-auto
                    .copyright.text-center.my-auto
                        span #{data.copy_notice}
        script(src='/.theme/class-website/js/jquery.min.js')
        script(src='/.theme/class-website/js/bootstrap.bundle.min.js')
        script(src='/.theme/class-website/js/sb-admin-2.min.js')
